body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align : center;
    background-image: url("images/background1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center ;
    color: rgb(205, 151, 50);
    font-weight: bold;
}

#message-el {
    font-style: italic;
    font-weight: bold;
}
h1{
    color: goldenrod;
}
p {
    color:tomato;
    font-size: auto;
    font-weight: bold;
}
button{
    background: goldenrod;
    color: #016f32;
    width: 150;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    margin-top :2px;
    margin-bottom: 2px;
}
